<!DOCTYPE html>
<html >
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script type="application/javascript" src="../../assets/js/controller.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body ng-app="mainApp">
    <div ng-controller="libraryController" class="container">
        <h2>Books in Library</h2>

        
        
        <table class="table ">
            <tr>
               
                <th>Name</th>
                <th>Author</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            
            
            <tr ng-repeat="book in Books" >
                <div ng-hide="book.EditAllowed">
                    <td ng-hide="book.EditAllowed">{{book.name}}</td>
                    <td ng-hide="book.EditAllowed">{{book.author}}</td>
                    <td ng-hide="book.EditAllowed">{{book.category}}</td>
                    <td ng-hide="book.EditAllowed">{{book.price}}</td>
                    <td ng-hide="book.EditAllowed"><input type="button" value="Modify" data-ng-click="ModifyBook(book)" /></td>    
                    <td ng-hide="book.EditAllowed"><input type="button" value="Delete" data-ng-click="DelBook(book)" /></td>
                </div>
                <div ng-show="book.EditAllowed">
                    <td ng-show="book.EditAllowed"><input ng-pattern="/^[a-zA-Z0-9]*$/" type="string" data-ng-model="modifiedbook.name" /></td>
                    <td ng-show="book.EditAllowed"><input ng-pattern="/^[a-zA-Z0-9]*$/" type="string" data-ng-model="modifiedbook.author" /></td>
                    <td ng-show="book.EditAllowed"><input ng-pattern="/^[a-zA-Z0-9]*$/" type="string" data-ng-model="modifiedbook.category" /></td>          
                    <td ng-show="book.EditAllowed"><input type="string" data-ng-model="modifiedbook.price" /></td>         
                    <td ng-show="book.EditAllowed"><input class="btn btn-primary" type="button" value="Save" data-ng-click="UpdateBook(modifiedbook)" /></td>
                </div>    
            </tr>
            <tr>
                <td><input type="string" ng-pattern="/^[a-zA-Z0-9]*$/" data-ng-model="newbook.name" /></td>
                <td><input type="string" ng-pattern="/^[a-zA-Z0-9]*$/" data-ng-model="newbook.author" /></td>
                <td><input type="string" ng-pattern="/^[a-zA-Z0-9]*$/" data-ng-model="newbook.category" /></td>          
                <td><input type="string" data-ng-model="newbook.price" /></td>         
                <td><input class="btn btn-primary" type="button" value="Add" data-ng-click="AddBook(newbook)" /></td>    
            </tr>
        </table>
       
    </div>
</body>
</html>